{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('register') }}
{% endblock %}

{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <section class="register">
        <a href="{{ path('index') }}">< Retour</a>
        <h1>Enregistrement</h1>
        {{ include('registration/_form.html.twig') }}
    </section>
{% endblock %}
