{% extends 'base.html.twig' %}

{% block title %}Nouvelle activité{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('new') }}
{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <section class="new">
        <a href="{{ path('index') }}">< Retour</a>
        <h1>Créez une nouvelle activité</h1>
        {{ include('activity/_form.html.twig') }}
    </section>
{% endblock %}
